{% extends 'blog/base.html' %}

{% block content %}
	{% for post in posts %}
	    <div class="post">
	        <div class="date">
	            {{ post.published_date }}
	        </div>
	        <h1><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h1>
	        <p>{{ post.text|linebreaksbr }}</p><br>
			<img src="{{ post.image_url|default_if_none:'#' }}" />
			<hr>
			<a href="{% url 'post_detail' pk=post.pk %}">Comments: {{ post.comments.count }}</a>

			<hr><br>
	    </div>
	    
<div class="card">
    <h1 class="entry-title">
    <a href="http://www.ariona.net">This text will be highlighted when hovered <br> Inspired by webdesignerdepot new design</a>
  </h1>
  <small>By <a href="http://www.ariona.net">Ariona Rian</a></small>
  
  <span>See details for walkthrough</span>
  <span>See Also: <a href="https://codepen.io/ariona/pen/JopOOr" target="_blank">3D hove plane effect</a></span>
</div>


<div class="iklan">
  <p>Need PSD to HTML & CSS service?</p>
  <a href="https://www.fiverr.com/share/vLevr" target="_blank">Start from <strong>$50</strong></a>
</div>
	{% endfor %}
{% endblock %}